body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

input[type="radio"] {
    margin-right: 5px;
}

#results {
    list-style: none;
}

li {
    margin: 8px;
}

#presets button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

section {
    margin-bottom: 20px;
}

#week,
#unit  {
    text-align: left;
}
#presets,
#week,
#unit {
    margin-bottom: 20px;
}

#presets button {
    background-color: #f6a6bb;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#presets button:hover {
    background-color: #f385b0; 
}


input[type="radio"] + label {
    display: inline-block;
    margin-right: 10px;
    color: #f6a6bb;
}

button[type="submit"] {
    background-color: #f385b0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f4bbc9;
}

div {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  h3 {
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table td, table th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.fa-sort {
    margin-left: 5px;
}